@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-primary: linear-gradient(180deg, #60A5FA 1.33%, #2563EB 100%);
        --bg-secondary: linear-gradient(180deg, #374151 1.33%, #1F2937 100%);
        --bg-third: linear-gradient(225deg, #1F2937 0%, #1F2937 100%);
        --bg-main: #111827;

        --text-primary: #E5E7EB;
        --text-secondary: #9CA3AF;
        --text-third: #3B82F6;

    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    body::-webkit-scrollbar {
        width: 0px;
        background-color: #F5F5F5;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    body {
        background-color: var(--bg-main);
    }
}

@layer components {
    .btn {
        @apply rounded-md px-6 py-2 text-white
    }

    .btn-primary {
        background-image: var(--bg-primary);
    }

    .btn-secondary {
        background-image: var(--bg-secondary);
    }

    .card {
        background-image: var(--bg-third);
        @apply p-6
    }

    .clg-r{
        @apply border border-red-500
    }

    .clg-g{
        @apply border border-green-500
    }
}